<!DOCTYPE html>
<html lang="en">

<head>
	<title>Zach's Books</title>
</head>

<body>
	<h1>Delete Book</h1>
	<p>Are you sure you want to delete {{ book.title }}?</p>

	<form action="/" method="POST">
		<!-- use hidden fields to easily pass goal & book id for convenience -->
		<input type="hidden" name="action" value="DELETE" />
		<input type="hidden" name="id" value="{{ book.id }}" />

		<button type="submit">Delete</button>
		<a href="/">Cancel</a>
	</form>
</body>

</html>
