<!DOCTYPE html>
<html lang="en">

<head>
	<title>Zach's Books</title>
</head>

<body>
	<h1>Edit Books</h1>
	<p>Name:</p>

	<form action="/" method="POST">
		<!-- use hidden fields to easily pass goal & book id for convenience -->
		<input type="hidden" name="action" value="UPDATE"/>
		<input type="hidden" name="id" value="{{ book.id }}"/>

		<input name="title" placeholder="{{ book.title }}" />
		<button type="submit">Edit</button>
		<a href="/">Cancel</a>
	</form>
</body>

</html>
