<!DOCTYPE html>
<html lang="en">

<head>
	<title>Zach's Books</title>
</head>

<body>
	<h1>Books</h1>
	{% for book in books %}
	<p>{{ book.title }}</p>
	<p>
		<a href="./book/{{ book.id }}/edit">Edit books</a>
	</p>
	<p>
		<a href="./book/{{ book.id }}/delete">Delete books</a>
	</p>
	<br>
	{% endfor %}
</body>

</html>
